<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="../static/img/logo.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <title>Alexa Prado</title>
</head>

<body>

    <i class="bi bi-list menu-mobile"></i>

    <!-- Menu Lateral -->
    <aside id="header" class="gradient-custom">
        <section class="profile">
            <img src="../static/img/foto rosto.jpg" alt="Foto de perfil">
            <h1>Alexssandra Pimentel</h1>
            <div class="social-links mt-4 text-center">
                <a href="https://www.linkedin.com/in/alexssandra-pimentel" target="_blank"><i
                        class="bi bi-linkedin"></i></a>
                <a href="https://github.com/AlexaPim" target="_blank"><i class="bi bi-github"></i></a>
            </div>
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"></i
                            aria-hidden="true">Inicío</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre"><i class="bi bi-person" aria-hidden="true"></i>Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades"><i class="bi bi-list-check"
                            aria-hidden="true"></i>Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark"
                            aria-hidden="true"></i>Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio"><i class="bi bi-collection"
                            aria-hidden="true"></i>Portfólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato"><i class="bi bi-envelope" aria-hidden="true"></i>Contato</a>
                </li>
            </ul>

        </nav>
    </aside>
    <!-- /Menu Lateral -->

    <main id="main">
        <!-- Topo da página -->
        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 class="text-white text-shadow">Alexssandra Pimentel</h2>
                <span id="subtitulo" class="text-white text-shadow">Desenvolvedora Java FullStack Jr</span>
            </div>

            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white fw-bold pe-2 fs-2" aria-hidden="true"></i>
                    <a href="#sobre">Arraste para mais</a>
                </div>

            </div>

        </section>

        <!-- Sobre -->
        <section class="container mt-5" id="sobre">

            <div class="row w-100">
                <div class="col-md-12">
                    <h2 class="pt-3">Sobre</h2>
                    <p>Apaixonada por jogos e pela cultura coreana. Atualmente estou estudando para ser desenvolvedora
                        web e futuramente quero desenvolver jogos. </p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/img/foto rosto.jpg" alt="Foto Alexa">
                </div>
                <div class="col-md-8">
                    <h3>Desenvolvedora Junior</h3>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum vel dolorem fugit repudiandae
                        repellendus. At excepturi beatae animi laborum, consequuntur odio doloribus iste omnis ipsa
                        atque similique possimus voluptate harum.</p>

                    <div class="row mt-3 mb-3">


                        <div class="col-md-6">

                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">Nacionalidade: <span class="fw-lighter">Brasileira</span>
                                </li>
                                <li class="list-group-item">Cidade: <span class="fw-lighter">São Paulo</span></li>
                                <li class="list-group-item">Estado: <span class="fw-lighter">São Paulo</span></li>
                                <li class="list-group-item">Hobbies: <span class="fw-lighter">Jogos online</span></li>
                            </ul>

                        </div>

                        <div class="col-md-6">

                            <ul class="list-group list-group-flush fs-5">

                                <li class="list-group-item">Área de interesse principal: <span
                                        class="fw-lighter">Desenvolvimento backend</span></li>
                                <li class="list-group-item">Área de interesse secundária: <span
                                        class="fw-lighter">Desenvolvimento FullStack</span></li>

                            </ul>

                        </div>

                    </div>

                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas, tenetur blanditiis officia
                        omnis explicabo praesentium dolorum corrupti, commodi eligendi eaque inventore corporis dolorem,
                        minima quo maxime unde repudiandae dolores. Blanditiis.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, sit eum dolore sint dolorem
                        assumenda, quod qui dolorum molestiae aspernatur recusandae officiis perspiciatis consequuntur?
                        Inventore laborum voluptatem debitis reiciendis cum.</p>

                </div>
            </div>

        </section>
        <!-- /Sobre -->

        <!-- Habilidades -->
        <section class="mt-5 section-bg" id="habilidades">

            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam aperiam officiis animi veritatis
                unde autem, quae reprehenderit magnam sed nostrum veniam dolorum ipsam illum facilis! Blanditiis iste
                delectus accusantium quia?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati minus voluptas vel labore. Incidunt
                dolor blanditiis repellat eaque alias eum temporibus molestias sed quos atque impedit voluptatibus,
                vitae velit iste.

                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-4 mb-0">HTML</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70"
                                aria-valuemin="0" aria-valuemax="100">70%</div>
                        </div>
                        <p class="mt-3 mb-0">CSS</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60"
                                aria-valuemin="0" aria-valuemax="100">60%</div>
                        </div>
                        <p class="mt-3 mb-0">JS</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 20%;" aria-valuenow="20"
                                aria-valuemin="0" aria-valuemax="100">20%</div>
                        </div>
                        <p class="mt-3 mb-3">Java</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70"
                                aria-valuemin="0" aria-valuemax="100">70%</div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <p class="mt-4 mb-0">Bootstrap</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="60"
                                aria-valuemin="0" aria-valuemax="100">60%</div>
                        </div>
                        <p class="mt-3 mb-0">Angular</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 45%;" aria-valuenow="45"
                                aria-valuemin="0" aria-valuemax="100">45%</div>
                        </div>

                        <p class="mt-3 mb-0">Spring</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 55%;" aria-valuenow="55"
                                aria-valuemin="0" aria-valuemax="100">55%</div>
                        </div>
                        <p class="mt-3 mb-3">MySQL</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 55%;" aria-valuenow="55"
                                aria-valuemin="0" aria-valuemax="100">55%</div>
                        </div>
                    </div>



                </div>

                <hr class="w-50 me-auto ms-auto mt-4">
                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-4 mb-0">Trabalho em equipe</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90"
                                aria-valuemin="0" aria-valuemax="100">90%</div>
                        </div>
                        <p class="mt-4 mb-0">Proatividade</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70"
                                aria-valuemin="0" aria-valuemax="100">70%</div>
                        </div>
                        <p class="mt-4 mb-0">Atenção aos detalhes</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80"
                                aria-valuemin="0" aria-valuemax="100">80%</div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <p class="mt-4 mb-0">Comunicação</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70"
                                aria-valuemin="0" aria-valuemax="100">70%</div>
                        </div>
                        <p class="mt-4 mb-0">Empatia</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90"
                                aria-valuemin="0" aria-valuemax="100">90%</div>
                        </div>
                        <p class="mt-4 mb-0">Comprometimento</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90"
                                aria-valuemin="0" aria-valuemax="100">90%</div>
                        </div>
                    </div>
                </div>

            </div>

        </section>
        <!-- /Habilidades -->

        <!-- Curriculo -->
        <section id="curriculo" class="mt-5 cv">

            <div class="container pb-5">
                <h2 class="pt-3 pb-4">Currículo</h2>

                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cv-titulo">Experiência Profissional</h3>

                        <div class="cv-item">
                            <h4>Aprendiz</h4>
                            <h5>Out 2018 - Fev 2020</h5>
                            <p><em>SESC SP - Serviço Social do Comércio</em></p>
                            <p>- Prestação de serviços de atendimento e suporte ao usuário, como fornecimento de
                                carteirinha para cadastro, realização de matrículas em cursos e reserva de estadia em
                                outras unidades.
                            </p>
                            <p>- Auxílio na preparação de contratos artísticos.</p>

                        </div>
                        <div class="cv-item">
                            <h4>Pesquisadora</h4>
                            <h5>Jul 2017 - Dez 2017</h5>
                            <p><em>Sindetur - Sindicato das Empresas de Turismo no Estado de São Paulo</em></p>
                            <p>Responsável pela gestão e atualização cadastral das empresas parceiras. </p>

                        </div>
                        <div class="cv-item">
                            <h4>Auxiliar de Escritório</h4>
                            <h5>Jul 2015</h5>
                            <p><em>Wei Li</em></p>
                            <p>Acompanhamento dos processos admissionais e demissionais das empresas da carteira de
                                clientes. </p>

                        </div>

                    </div>
                    <div class="col-md-6">
                        <h3 class="cv-titulo">Educação</h3>

                        <div class="cv-item">
                            <h4>Desenvolvedora Web Java</h4>
                            <h5>Ago 2021 - Nov 2021</h5>
                            <p><em>Generation Brasil</em></p>
                            <p></p>

                        </div>
                        <div class="cv-item">
                            <h4>Agenciamento de Viagens</h4>
                            <h5>Jul 2012 - Dez 2013</h5>
                            <p><em>Etec Professor Aprígio Gonzaga</em></p>
                            <p></p>

                        </div>

                        <h3 class="cv-titulo">Idioma</h3>

                        <div class="cv-item">
                            <h4>Espanhol</h4>
                            <h5>Intermediário</h5>
                            <p><em>C.E.L - Centro de Estudos de Línguas</em></p>
                            <p></p>

                        </div>
                        <div class="cv-item">
                            <h4>Coreano</h4>
                            <h5>Básico</h5>
                            <p><em>Centro Cultural Coreano no Brasil</em></p>
                            <p></p>

                        </div>


                    </div>
                </div>
            </div>

        </section>
        <!-- /Curriculo -->

        <!-- Portfolio -->
        <section id="portfolio" class="section-bg mt-5">
            <div class="container pb-5 pt-5">
                <h2 class="pb-4">Portfólio</h2>

                <div id="carouselPortfolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">

                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/Carol.JPG" class="card-img-top"
                                            alt="Plataforma educacional">
                                        <div class="card-body">
                                            <h5 class="card-title">Carol</h5>
                                            <p class="card-text">Projeto Integrador baseado na ODS 16 da ONU (Paz,
                                                Justiça e Instituições Eficazes). Rede Social de busca de emprego, para
                                                mulheres em situação de vulnerabilidade social.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/AlexaPim/frontend-Carol" target="_blank"
                                                    class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                                <a href="https://proj-carol.netlify.app/#/home" target="_blank"
                                                    class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/lp-blackpink.JPG" class="card-img-top img-fluid w-100"
                                            alt="print do blog">
                                        <div class="card-body">
                                            <h5 class="card-title">Landing Page - Blackpink</h5>
                                            <p class="card-text">Página criada com HTML e bootstrap.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/AlexaPim/bp-bootstrap" target="_blank"
                                                    class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                                <a href="alexapim.github.io/bp-bootstrap/" target="_blank"
                                                    class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/lp-bts.JPG" class="card-img-top img-fluid w-100"
                                            alt="print do blog">
                                        <div class="card-body">
                                            <h5 class="card-title">Landing Page - BTS</h5>
                                            <p class="card-text">Página criada com HTML e bootstrap.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/AlexaPim/bootstrap" target="_blank"
                                                    class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                                <a href="alexapim.github.io/bootstrap/" target="_blank"
                                                    class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="carousel-item" data-bs-interval="2000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card h-100">
                                        <img src="../static/img/acolhe.JPG" class="card-img-top img-fluid w-100"
                                            alt="print do blog">
                                        <div class="card-body">
                                            <h5 class="card-title">Acolhe Elas</h5>
                                            <p class="card-text">Projeto criado durante a formação de Iniciante em
                                                Desenvolvimento Web na Fly Educação.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/AlexaPim/acolhe-elas" target='_blank'
                                                    class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a>
                                                <a href="alexapim.github.io/acolhe-elas/" target='_blank'
                                                    class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>

                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>

                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortfolio"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>

            </div>




        </section>
        <!-- /Portifolio -->

        <!-- Contato -->
        <section id="contato">

            <div class="container mb-5">
                <h2 class="pt-3 pb-3">Contato</h2>

                <div class="row">

                    <div class="col-md-12 mt-5 mt-md-0">
                        <div class="card p-5 h-100 shadow border-0" data-anime="left">

                            <form class="row g-3" action='/send' method="POST">
                                <div class="col-md-6">
                                    <label for="nome" class="form-label">Nome:</label>
                                    <input type="text" class="form-control" id="nome" name='nome'
                                        placeholder='Digite seu nome' required>
                                </div>
                                <div class="col-md-6">
                                    <label for="email" class="form-label">Email:</label>
                                    <input type="email" class="form-control" id="email" name='email'
                                        placeholder='Digite seu email' required>
                                </div>

                                <div class="col-12">
                                    <label for="mensagem" class="form-label">Mensagem:</label>
                                    <textarea type="text" class="form-control" id="mensagem" name='mensagem' rows="10"
                                        placeholder="Digite sua mensagem" required></textarea>
                                </div>


                                <div class="col-12 d-flex justify-content-center mt-4">
                                    <button id='btn-enviar' type="submit" class="btn btn-primary">Enviar
                                        mensagem</button>

                                    <button id='btn-enviar-loader' class="btn btn-primary" type="button" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                            aria-hidden="true"></span>
                                        Enviando...
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>


                </div>

            </div>

        </section>
        <!-- /Contato -->

    </main>

    <footer id="footer">
        <div class="container">
            <div class="text-center">
                &copy; Copyright <strong>Alexa Pimentel</strong>
            </div>
        </div>
    </footer>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>